.about
    background: #ecf0f1
    text-align: center
    color: #18202a

    .container
        padding: 80px

        & > h2
            margin: 0 auto
            font-size: 60px
            font-family: "Nothing You Could Do"

        & > p
            font-size: 16px
            width: 65%
            margin: 0 auto